backend/data/**/*.pdf filter=lfs diff=lfs merge=lfs -text
backend/data/images/**/*.png filter=lfs diff=lfs merge=lfs -text
backend/data/images/**/*.jpg filter=lfs diff=lfs merge=lfs -text
backend/data/images/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
backend/data/images/**/*.webp filter=lfs diff=lfs merge=lfs -text
backend/data/images/**/*.gif filter=lfs diff=lfs merge=lfs -text
